---
import "~/styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>
      Astro No utility classes were detected in your source files. If this is
      unexpected, double-check the `content` option in your Tailwind CSS
      configuration.
    </h1>
  </body>
</html>
