---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";

const bio = `Pasjonuję się projektowaniem i rozwojem, lubię tworzyć rzeczy, które nie
    tylko dobrze wyglądają, ale także działają na wielu poziomach. Zawsze jestem
    chętny do podejmowania wyzwań i dążę do przekraczania wszystkich zadań,
    których się podejmuję.
    
    Mam ponad <span class="text-primary">4-letnie doświadczenie</span> w
    projektowaniu witryn i chciałbym urzeczywistnić Twoją cyfrową wizję.`;
---

<ContentSection title="Cześć, tu Kamil" id="intro">
  <Icon slot="eyebrow" name="logo" class="h-20 md:h-32" />
  <Fragment slot="lead">
    Tworzę <span class="text-primary">strony internetowe</span>, które są
    funkcjonalne, wydajne i stanowią doskonałą reprezentację osoby lub firmy <span
      class="text-primary">w cyfrowym wszechświecie</span
    >.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="#"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Dowiedz się więcej</span>
    </a>
    <a
      href="#"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Czytaj manifest</span>
    </a>
  </div>
</ContentSection>
