---
let status = "available";
---

<div
  class="group absolute right-2 top-2 animate-[show_0s_both] animation-delay-1500 md:top-1/2 md:left-1/4 md:right-[initial]"
>
  <div class="flex items-center gap-2 rounded-md bg-default py-1 px-3">
    <span class="text-sm md:text-base">Status</span>
    <span class="relative flex h-3 w-3 md:h-4 md:w-4">
      <span
        class="absolute inline-flex h-full w-full animate-ping rounded-full bg-orange-400 opacity-75"
      ></span>
      <span
        class="relative inline-flex h-3 w-3 rounded-full bg-orange-500 md:h-4 md:w-4"
      ></span>
    </span>
  </div>
  <div
    class="invisible absolute right-0 top-10 w-[250px] translate-y-1 rounded-md border-4 border-orange-400 bg-default p-4 shadow-lg transition-all duration-300 text-sm group-hover:visible group-hover:-translate-y-1 md:top-12 md:text-base"
  >
    <p>
      Odecnie dryfuję między pracą a rodziną, ale jestem dostępny dla Twojego
      projektu.
    </p>
    <a
      href="/kontakt"
      class="font-accent font-semibold text-orange-400 underline"
      >Zostaw wiadomość!</a
    >
  </div>
</div>
